@import 'src/styles/vars';

.projet-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.5em;
  margin-top: 4em;
  font-family: 'Montserrat';
  @include m767() {
    width: 70%;
    margin-left: 25%;
    margin-top: 4em;
  };
  @include m1024() {
    width: 50%;
    margin-left: 45%;
    margin-top: 7em;
  };
  @include m1600() {
    width: 60%;
    margin-left: 25%;
    margin-top: 8em;
  };

  &-items {
    @include m767() {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    };
    @include m1024() {
      width: 100%;
      flex: 0 0 100%;
    };
    @include m1600() {
     justify-content: flex-end;
    };
  }

  &-title {
    font-family: "BioRhyme";
    color: $light-blue;
    display: inline-block;
    margin: 0;
    font-size: 2rem;
    text-align: left;
    padding-left: 0.5em;
    @include m767() {
      width: 100%;
      text-align: right;
      padding-right: 1em;
    };
    @include m1024() {
      width: 100%;
      text-align: right;
      margin-bottom: 3em;
    };
   
    &::after {
      content: '';
      display: block;
      position: relative;
      width: 60%;
      height: 1px;
      background: $light-pink;
      top: -0.4em;
      left: 30%;
      margin-left: 0.5em;
      @include m767() {
        width: 40%;
      };
      @include m1024() {
        left: 0;
        width: 65%;
      };
      @include m1600() {
        left: 25%;
        width: 60%;
      };
    }
  }
}

.projet-item {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 2em 0;
  @include m767() {
    width: 45%;
    margin: 0.5em 0.5em;
  };
  @include m1600() {
    width: 60%;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  };

  &-thumbnail {
    @include m1600() {
      width: 70%;
    };
  }

  .overlay {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(100,255,218, .8);
    color: $background-color;
    font-size: 0.9em;
    z-index: 10;
    opacity: 1;
    transition: all 0.7s ease;
    @include m1024() {
      opacity: 0.8;
    };
    @include m1600() {
      display: none;
    };

    &-meta {
      color: $background-color;
      width: 70%;
      text-align: right;
      @include m767() {
        font-size: 1em;
      };
      &-title {
        font-family: "BioRhyme";
        color: $background-color;
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1em;
        @include m767() {
          font-size: 1.6em;
          margin-bottom: 0.5em;
        };
      }
      &-description {
        font-size: 1.3em;
        margin-bottom: 0.5em;
        @include m767() {
          font-size: 1em;
        };
      }
      &-technos {
        font-size: 1.2em;
        margin-bottom: 0.5em;
        @include m767() {
          font-size: 1em;
        };
      }

      &-link {
        display: flex;
        justify-content: flex-end;
        img {
          width: 1em;
        }
      }
    }
  }

  .infos {
    display: none;
    @include m1600() {
      display: block;
      position: absolute;
      padding: 0.5em;
      left: -35%;
      width: 60%;
      height: 80%;
      background-color: rgb(100,255,218, .5);
    };

    &-meta {
      @include m1600() {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        height: 100%;
      }

      &-title {
        @include m1600() {
          font-family: "BioRhyme";
          font-size: 2em;
         };
      }

      &-description {
        @include m1600() {
          font-size: 1.2em;
          margin: 1em 0;
         };
      }

      &-technos {
        display: flex;
        flex-wrap: wrap;
        padding: 0.2em;
        .techno {
          @include m1600() {
          background-color: $background-color;
          color: $light-blue;
          padding: 0.3em;
          margin: 0.1em;
          border-radius: 14px;
         };
        }
      }

      &-link {
        @include m1600() {
          align-self: flex-end;
          padding: 0.2em;
          display: flex;
         };

         img {
           width: 1.6em;
           margin: 0.2em;
         }
      }
    }

 
  }

  // ANIMATION TEXT ON HOVER ON MOBILE DEVICE

  @keyframes slideUp {
    0% {
      transform: translateY(-100%); opacity: 0;
    }
    100% {
      transform: translateY(0); opacity: 0.8;
    }
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(200%); opacity: 0;
    }
    100% {
      transform: translateY(0); opacity: 0.8;
    }
  }

  &:hover {
    .overlay {
    
      @include m1024() {
        opacity: 0;
      };
    
      .overlay-meta-title {
        animation: slideUp 1.5s ease-in-out;
      }
      .overlay-meta-description, .overlay-meta-link, .overlay-meta-technos {
        animation: slideDown 1.5s ease-in-out;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
* Generated by Animista on 2020-6-8 17:37:19
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-up-center
* ----------------------------------------
*/
@-webkit-keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}
@keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}
