@import 'reset';
@import 'vars';

body {
  font-family: 'Rubik';
  background-color: $background-color; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #64ffda rgb(19, 5, 36); 
}

@font-face {
  font-family: 'Wonderella';
  src: url('../../src/assets/fonts/wonderella.ttf');
}

@font-face {
  font-family: 'Zilla';
  src: url('../../src/assets/fonts/ZillaSlab-Regular.ttf');
}

@font-face {
  font-family: 'Pink Tinge';
  src: url('../../src/assets/fonts/PinkTingeRegular.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('../../src/assets/fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../src/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'BioRhyme';
  src: url('../../src/assets/fonts/BioRhyme-Regular.ttf');
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #64ffda, #ffaea1, #f0509c);
 /*  border: 0px none #ffffff; */
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
