@import 'src/styles/vars';

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin : 3em auto;
  margin-bottom: 0;
  padding: 0.5em 0.5em;
  max-width: 100%;
  @include m767() {
    width: 70%;
    margin-left: 10%;
    margin-top: 4em;
   };
  @include m1024() {
    width: 50%;
    margin-left: 15%;
    margin-top: 7em;
   };
   @include m1600() {
    width: 40%;
    margin-top: 7em;
   };
   @include m1900() {
    width: 40%;
    margin-top: 7em;
   };

  &-title {
    font-family: "BioRhyme";
    color: $light-blue;
    font-size: 2rem;
    text-align: left;
    padding-left: 0.5em;
    margin-bottom: 1em;
    @include m1024() {
      margin-bottom: 2em;
     };
    @include m1600() {
      margin-bottom: 3em;
     };

    &::after {
      content: '';
      display: block;
      position: relative;
      width: 30%;
      height: 1px;
      background: rgb(211, 208, 208, 0.5);
      top: -0.4em;
      left: 60%;
      margin-left: 0.5em;
      @include m1024() {
        left: 7em;
        width: 6em;
       };
       @include m1600() {
        left: 7em;
        width: 10em;
       };
       @include m1900() {
        left: 7.5em;
        width: 15em;
       };
    }
  }

  &-items {
    padding: 1.5em;
    font-family: 'Montserrat';
    margin-top: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    color: $light-grey;
    border: 1px solid rgb(211, 208, 208, 0.5);
    @include m1600() {
      width: 80%;
      margin: 0 auto;
     };

    h3 {
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      @include m1900() {
        width: 80%;
       };
    }
  }
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.2em 0.7em;
  line-height: 0.1em;

  svg {
    width: 2.2em;
    height: 2.2em;
  }

  .axios-svg, .sql-svg, .webpack-svg, .yarn-svg {
    width: 2.4em;
    height: 4.8em;
    @include m1900() {
      height: 5em;
     };
  }

  &-icon {
    font-size: 1.4em;
    margin: 0 0;
    color: $light-blue;

    .svg-inline--fa {
      font-size: 2.2em;
      @include m1900() {
        font-size: 2.4em;
       };
    }

    &:hover {
      polygon {
        fill: #ffaea1;
      }
      path {
        fill: #ffaea1;
      }
      .path-not-hover {
        fill: none;
      }
    }
  }

  &-name {
    margin-top: 0.5em;
    color: $light-grey;
    font-size: 0.8em;
    @include m1900() {
      font-size: 1em;
     };
  }
}

.soft-list-items {
  padding: 0.5em;
  border: 1px solid rgb(211, 208, 208, 0.5);
  color: $light-grey;
  font-family: 'Montserrat';
  margin-top: 0.5em;
  @include m1600() {
    width: 80%;
    margin: 0.5em auto;
   };

  h3 {
    color: $light-grey;
    margin: 0.5em auto;
    font-size: 1.2em;
  }
}

.softs-item {
  flex-wrap: wrap;
  font-size: 0.9em;
}
