@import 'src/styles/vars';

.about {
  max-width: 100%;
  margin: 2em auto;
  padding: 0 0.5em;
  @include m767() {
    width: 70%;
    margin-left: 10%;
    margin-top: 4em;
   };
  @include m1024() {
    width: 50%;
    margin-left: 15%;
    margin-top: 7em;
   };
  @include m1600() {
    width: 40%;
    margin-left: 15%;
    margin-top: 7em;
  };
  @include m1900() {
    width: 40%;
    margin-left: 15%;
    margin-top: 13em;
    };

  &-infos {
    padding: 0.5em;
  }

  &-title {
    font-family: 'BioRhyme';
    text-align: left;
    padding-top: 1em;
    padding-left: 0.5em;
    font-size: 2em;
    color: $light-blue;
    position: relative;
    @include m1024() {
      margin-right: -20%;
     };

     &::after {
      content: '';
      display: block;
      position: relative;
      width: 20%;
      height: 1px;
      background: rgb(211, 208, 208, 0.5);
      top: -0.4em;
      left: 70%;
      margin-left: 0.5em;
      @include m767() {
        left: 55%;
        width: 40%;
      };
      @include m1024() {
        left: 50%;
        width: 8em;
      };
      @include m1600() {
        left: 9em;
        width: 10em;
      };
      @include m1900() {
        left: 9em;
        width: 15em;
      };
     }
  }

  &-content {
    &-infos {
      color: $light-pink;
      text-align: justify;
      font-family: 'Montserrat';
      font-size: 0.9em;
      font-weight: 500;
      @include m1024() {
       font-size: 1.1em;
       margin-top: 1em;
      };
      @include m1900() {
        line-height: 1.3em;
      };
    }

    &-item {
      margin-top: 0.5em;
    }
  }
}

