@import 'src/styles/vars';

.contact {
  max-width: 100%;
  padding: 0 0.5em;
  margin-top: 4em;
  height: 30vh;
  display: flex;
  flex-direction: column;
  @include m767() {
    width: 70%;
    margin-left: 25%;
    height: 30vh;
    margin-top: 4em;
   };
  @include m1024() {
    width: 50%;
    margin-left: 15%;
    height: 30vh;
    margin-top: 7em;
   };
  @include m1600() {
    width: 40%;
    margin-left: 15%;
    height: 30vh;
    margin-top: 7em;
    margin-bottom: 3em;
  };
  @include m1900() {
    width: 30%;
  };
}

.contact-title {
  font-family: "BioRhyme";
  color: $light-blue;
  font-size: 2rem;
  text-align: left;
  padding-left: 0.5em;
  @include m767() {
    width: 100%;
    text-align: right;
    padding-right: 1em;
  };
  @include m1024() {
    width: 100%;
    text-align: left;
  };
  @include m1600() {
    width: 100%;
    text-align: left;
  };

  &::after {
    content: '';
    display: block;
    position: relative;
    width: 30%;
    height: 1px;
    background: rgb(211, 208, 208, 0.5);
    top: -0.4em;
    left: 60%;
    margin-left: 0.5em;
    @include m767() {
      width: 40%;
      left: 15%;
    };
    @include m1024() {
      width: 30%;
      left: 50%;
    };
    @include m1600() {
      width: 40%;
      left: 35%;
    };
    @include m1900() {
      width: 10em;
      left: 40%;
    };
  }
}

.contact-list {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto auto;
  text-align: left;
  color: $light-grey;
  border: 1px solid rgb(211, 208, 208, 0.5);
  
  @include m767() {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    };
  @include m1024() {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    };
  @include m1600() {
    width: 40%;
    margin-left: 2em;
    };
  @include m1900() {
    width: 40%;
    margin-left: 9em;
    };
  }

.contact-mail, .contact-phone {
  font-size: 3em;
  margin: 1em;

  svg {
    width: 2em;

    path {
      fill: $light-blue;
      stroke-width: 3;
      stroke: $light-blue;
      stroke-dashoffset: 1200;
      stroke-dasharray: 1200;
    }

    &:hover path {
      animation: animate 2s linear forwards;
    }

    &:hover {
      #part1 {
        fill: blue;
        transform:  rotateX(-180deg) rotateY(0);
      }
    }
    @keyframes animate {
      0% {
        stroke-dashoffset: 0;
      }
      40% {
        stroke-dashoffset: 1200;	
      }
      80% {
        stroke-dashoffset: 2400;
        fill: transparent;	
      }
      100% {
        stroke-dashoffset: 2400;
        fill: $light-blue;	
      }
    } 

   /*  #Shape1 {
      fill: $light-grey;
    }
    #Shape2 {
      fill: blue;
    }
    #Shape3 {
      fill: red;
    }
    #Shape4 {
      fill: yellow;
    }
    #Shape5 {
      fill: purple;
    }
    #Shape6 {
      fill: white;
    }
    #Shape7 {
      fill: rgb(236, 154, 46);
    }
    #Shape8 {
      fill: rgb(243, 57, 218);
    }
    #Shape9 {
      fill: rgb(54, 201, 238);
    } */
  }
}

