@import 'src/styles/vars';

.contact {
  max-width: 100%;
  padding: 0 0.5em;
  margin-top: 4em;
  height: 30vh;
  display: flex;
  flex-direction: column;
  @include m767() {
    width: 70%;
    margin-left: 25%;
    height: 30vh;
    margin-top: 4em;
   };
  @include m1024() {
    width: 50%;
    margin-left: 15%;
    height: 30vh;
    margin-top: 7em;
   };
   @include m1600() {
    width: 40%;
    margin-left: 15%;
    height: 30vh;
    margin-top: 7em;
   };
}
.contact-title {
  font-family: "BioRhyme";
  color: $light-blue;
  font-size: 2rem;
  text-align: left;
  padding-left: 0.5em;
  @include m767() {
    width: 100%;
    text-align: right;
    padding-right: 1em;
  };
  @include m1024() {
    width: 100%;
    text-align: left;
  };
  @include m1600() {
    width: 100%;
    text-align: left;
  };

  &::after {
    content: '';
    display: block;
    position: relative;
    width: 30%;
    height: 1px;
    background: $light-pink;
    top: -0.4em;
    left: 60%;
    margin-left: 0.5em;
    @include m767() {
      width: 40%;
      left: 15%;
    };
    @include m1024() {
      width: 30%;
      left: 50%;
    };
    @include m1600() {
      width: 40%;
      left: 35%;
    };
  }
}

.contact-list {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto auto;
  text-align: left;
  color: $light-pink;
  @include m767() {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    };
  @include m1024() {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    };
  @include m1600() {
    width: 40%;
    margin-left: 6em;
    };
 
  img {
    width: 2em;
    &:hover {
      path {
        fill: #64ffda;
      }
    }
    @include m1024() {
      width: 3em;
    };
  }
}

.contact-mail, .contact-phone {
  a {
    color: white;

    &:visited {
      color: white;
    }
  }
}

