@import 'src/styles/vars';

.navbar {
  font-family: 'Poppins';
  font-weight: bold;
  z-index: 2001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  color: $light-blue;
  display: none;
  @include m767() {
    color: $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 4em;
  };
  @include m1024() {
    display: flex;
    justify-content: flex-end;
  };

  &-item {
    @include m767() {
      width: 7em;
      padding: 0 1em;
    };
    @include m1024() {
      padding: 1em 1em;
      margin: 0 1em;
    };
    @include m1900() {
      width: 9em;
      padding: 0 1em;
    };
  }

  a:visited {
    color: $light-blue;
  }

  .doubleDashed {
    color: $light-blue;
    width: 10em;
    @include m767() {
      height: 2em;
      padding: 0 14px;
      text-align: center;
      line-height: 1.7em;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    };
  }

  .doubleDashed::before,
  .doubleDashed::after {
    background-color: $light-blue;
    @include m1024() {
      position: absolute;
      content: '';
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $light-blue;
      transition: transform 0.4s ease-in-out;
    };
  }
}

.fixed {
  min-width: 100%;
  margin-left: 0;
  background-color: $light-blue;
  opacity: 0.9;
  z-index: 2000;
  a:visited {
    color: rgb(19, 5, 36);
  }

  .doubleDashed::before,
  .doubleDashed::after {
    background-color: $background-color;
    @include m1024() {
      position: absolute;
      content: '';
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $light-blue;
      transition: transform 0.4s ease-in-out;
    };
  }
    a:visited {
      color: $background-color;
    }
  
    .doubleDashed {
      color: $background-color;
  }
  
    .doubleDashed::before,
    .doubleDashed::after {
      background-color: $background-color;
  }
  }

  .doubleDashed::before {
    top: 0;
    transform: translateX(-100%);
  }

  .doubleDashed::after {
    bottom: 0;
    transform: translateX(100%);
  }

  .doubleDashed:hover::after,
  .doubleDashed:hover::before {
      transform: translateX(0);
  }
