@import 'src/styles/vars';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 2em;
  width: 100%;
  color: $light-pink;

  &-socials {
    display: flex;
    justify-content: center;
  }

  img {
    width: 1.4em;
  }
}

.socials-item {
  display: flex;
  justify-content: space-between;
  margin: 1em;

  a {
    color: $light-pink;
    padding: 0 1em;
  }
  
}
