@import 'src/styles/vars';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  background-color: rgb(17, 5, 32);
  color: white;

  &-socials {
    display: flex;
    justify-content: center;
  }

  img {
    width: 1.4em;
  }
}

.socials-item {
  display: flex;
  justify-content: space-between;
  margin: 1em;

  a {
    color: white;
    padding: 0 1em;
  }
  
}
