@import 'src/styles/vars';

.BurgerSpring.Burger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  @include m767() {
    display: none;
  };
}

.burgerBox {
  position: absolute;
  top: 0;
  left: 0;
}
