@import 'src/styles/vars';

.training {
  max-width: 100%;
  margin: 2em auto;
  padding: 0 0.5em;
  @include m767() {
    width: 70%;
    margin-left: 25%;
    margin-top: 4em;
   };
  @include m1024() {
    width: 50%;
    margin-left: 45%;
    margin-top: 7em;
   };
  @include m1600() {
  width: 40%;
  margin-left: 45%;
  margin-top: 7em;
  };

   &-infos {
    color: $light-pink;
    font-family: 'Montserrat';
    font-size: 0.9em;
    @include m1600() {
      font-size: 1.1em;
      };
   }

    &-title {
      font-family: 'BioRhyme';
      text-align: left;
      padding-top: 1em;
      padding-left: 0.5em;
      font-size: 2em;
      color: $light-blue;
      position: relative;
      margin-bottom: 1em;
      @include m767() {
        width: 100%;
        text-align: right;
        padding-right: 1em;
      };
      @include m1024() {
        width: 100%;
        text-align: right;
        margin-bottom: 2em;
      };

      &::after {
        content: '';
        display: block;
        position: relative;
        width: 30%;
        height: 1px;
        background: rgb(211, 208, 208, 0.5);
        top: -0.4em;
        left: 60%;
        margin-left: 0.5em;
        @include m767() {
          width: 40%;
        };
        @include m1024() {
          width: 6em;
          left: -0.5em;
        };
        @include m1600() {
          width: 10em;
          left: -0.5em;
        };
        @include m1900() {
          width: 15em;
<<<<<<< HEAD
          left: 0em;
=======
          left: 4.5em;
>>>>>>> db4c5fc6423434b72f2adeb002e23ce15ef1e71c
        };
      }
    }

    &-list {
      margin: 0.5em;

      &-item {
        display: flex;
        margin-bottom: 0.5em;

        p {
          text-align: left;
        }

        img {
          align-self: flex-start;
          width: 1em;
          margin-right: 0.3em;
        }
      }
    }

    &-content {
      margin: 0.5em;
      text-align: justify;
      @include m1900() {
        line-height: 1.3em;
      };

      &-item {
        color: $light-pink;
        margin-top: 0.5em;
      }
    }
}
