@import 'src/styles/vars';

.training {
  width: 100vw;
  margin: 2em 0;
  /* padding: 0 0.5em; */
  @include m767() {
    width: 80%;
    margin-left: 10%;
    margin-top: 4em;
   };
  @include m1024() {
    width: 70%;
    margin-left: 25%;
    margin-top: 7em;
   };
  @include m1600() {
    width: 40%;
    margin-left: 45%;
    margin-top: 7em;
  };

   &-infos {
    color: $light-pink;
    font-family: 'Montserrat';
    font-size: 0.9em;
    @include m1600() {
      font-size: 1.1em;
      };
   }

   // TRAINING SECTION TITLE

    &-title {
      display: flex;
      width: 100%;
      height: 10%;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
      @include m767() {
        height: 20%;
      };
      @include m1024() {
        height: 20%;
        margin-bottom: 1.5em;
      };
      @include m1600() {
        justify-content: flex-end;
      };

      &-content {
        font-family: 'Poppins';
        color: $light-blue;
        display: inline-block;
        margin-left: 0.5em;
        font-size: 1.1em;
        text-align: left;
        position: relative;
        @include m375() {
          font-size: 1.2em;
        };
        @include m767() {
          font-size: 1.8em;
          text-align: right;
        };
      }
      &-line {
        width: 50%;
        height: 1px;
        background: rgb(211, 208, 208, 0.5);
        @include m375() {
          width: 54%;
         };
        @include m767() {
          width: 59%;
        };
        @include m1024() {
          width: 40%;
        };
        @include m1900() {
          width: 30%;
        };
      }
    }

    // TRAINING SECTION CONTENT

    &-list {
      margin: 0.5em;
      line-height: 1.3em;

      &-item {
        font-size: 1em;
        display: flex;
        margin-bottom: 0.5em;
        @include m767() {
          font-size: 1.2em;
          margin-top: 1em;
         };
        p {
          text-align: left;
        }

        img {
          align-self: flex-start;
          width: 1em;
          margin-right: 0.3em;
        }
      }
    }

    &-content {
      width: 100vw;
      padding: 0.2em;
      padding-left: 0.4em;
      text-align: justify;
      line-height: 1.3em;

      &-item {
        width: 95%;
        font-size: 1em;
        color: $light-pink;
        margin-top: 0.5em;
        @include m767() {
          font-size: 1.2em;
         };
      }
    }
}
